<h1>Games</h1>
<ul>
  {{#each}}
    <li>{{title}} {{bggGame.name}}</li>
  {{/each}}
</ul>

{{input type="text" id="new-game" placeholder="What's the name of your game?"
              value=newTitle action="createGame"}}