<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand"}}Board Game Trackr{{/link-to}}
      </div>
      <div class="nav navbar-nav">
        <li>
          {{#link-to 'games.index'}}My Games{{/link-to}}
        </li>
        <li>
          {{#link-to 'games.search'}}Search{{/link-to}}
        </li>
      </div>
      <div class="nav navbar-nav navbar-right">
        <li>
          {{#if controllers.auth.authed}}
            {{#link-to 'logout'}}Logout{{/link-to}}
          {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/if}}
        </li>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div>
    {{App.stateManager.currentState.name}}
    {{outlet}}
  </div>
</div>
